In [1]:
import pandas as pd

In [3]:
import pandas as pd
#Reading bit by bit since data is too large 
chunk_size = 500000
# Initialize an empty list to collect chunks
chunks = []
for chunk in pd.read_csv('eda.csv', chunksize=chunk_size):
    chunks.append(chunk)
#Convert to dataframe
df = pd.concat(chunks, ignore_index=True)

In [4]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,tip_amount_transformed,pickup_week,pickup_date,day_of_week,hour,month,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,0.422371,238,239,1.0,0.237510,3.0,0.5,...,0.410110,2019-12-30/2020-01-05,2020-01-01,Wednesday,0,1,40.791705,-73.973049,40.783961,-73.978632
1,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,0.422371,239,238,1.0,0.277161,3.0,0.5,...,0.433048,2019-12-30/2020-01-05,2020-01-01,Wednesday,0,1,40.783961,-73.978632,40.791705,-73.973049
2,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.322204,238,238,1.0,0.237510,3.0,0.5,...,0.000000,2019-12-30/2020-01-05,2020-01-01,Wednesday,0,1,40.791705,-73.973049,40.791705,-73.973049
3,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.355593,238,151,1.0,0.217684,0.5,0.5,...,0.323179,2019-12-30/2020-01-05,2020-01-01,Wednesday,0,1,40.791705,-73.973049,40.797962,-73.968168
4,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.222037,193,193,2.0,0.138382,0.5,0.5,...,0.000000,2019-12-30/2020-01-05,2020-01-01,Wednesday,0,1,40.760314,-73.941997,40.760314,-73.941997

In [5]:
df.shape

(5321529, 51)

### Looking into the requirements in detail and overview of the project before proceeding witht the model building